<div class="col-sm-9">
  <div>ユーザーネーム: <%= link_to @user.name, user_path(@user) %></div>
  
  <div><p>タイトル: <%= @question.title %></p></div>
  
  <div><p>詳細: <%= @question.detail %></p></div>
  
  <div>回答する</div>
  <!--answerテーブルの作成-->
  
  <div>ベストアンサー</div>
  
  <div>回答一覧</div>
</div>