<h1>Chat room</h1>

<input type="text" id="chat_input" />
<button id="chat_button">送信</button>
<!--<input type="text" id="chat_input" data-behavior="room_speaker">-->

<div id="posts">
  <%= render @posts %>
</div>