<table class="table table-bordered">
  <tbody>
    <tr>
      <th>名前</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
    <tr>
      <th>プロフィール</th>
      <td><%= user.profile %></td>
    </tr>
  </tbody>
</table>
