<table class="table table-bordered">
  <tbody>
    <tr>
      <th>名前</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
    <tr>
      <th>プロフィール</th>
      <td><%= simple_format(h(text_url_to_link(user.profile).html_safe), {}, {wrapper_tag: "div", sanitize: false}) %></td>
    </tr>
  </tbody>
</table>
