<div class="col-sm-9 offset-sm-1">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><%= link_to @user.name, user_path(@user) %></li>
    <!--<li class="nav-item"><a href="#" class="nav-link">お気に入りルーム</a></li>-->
  </ul>
  
  <%= render 'users/info', user: @user %>
  <% if current_user == @user %>
    <%= link_to '編集', edit_user_path(@user), class: 'btn btn-light' %>
  <% end %>
</div>
<div class="col-sm-2"></div>